<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reserva de Ticket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Reserva de Ticket</h2>
    <p>Estás reservando un ticket para:</p>
    <h3 th:text="${movie.title}"></h3>
    <p th:text="${movie.description}"></p>
    <a href="/" class="btn btn-primary">Confirmar</a>
    <a href="/" class="btn btn-secondary">Cancelar</a>
</div>
</body>
</html>
